<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Сокращатель ссылок</title>
</head>
<body>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>{{ form.name.label }} {{ form.name() }}</p>
    <p>{{ form.expire.label }} {{ form.expire(value=90) }}</p>
    <p>{{ form.submit() }}</p>
</form>
</body>
</html>